<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.wbbradley.hq.daemon</string>
  <key>ProgramArguments</key>
  <array>
    <string>REPLACE_WITH_ABSOLUTE_HQ_PATH</string>
    <string>daemon</string>
    <string>run</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <dict>
    <key>SuccessfulExit</key>
    <false/>
  </dict>
  <key>ProcessType</key>
  <string>Background</string>
  <key>StandardOutPath</key>
  <string>REPLACE_WITH_ABSOLUTE_LOG_DIRECTORY/hq-daemon.log</string>
  <key>StandardErrorPath</key>
  <string>REPLACE_WITH_ABSOLUTE_LOG_DIRECTORY/hq-daemon.log</string>
</dict>
</plist>
